<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Error</title>
</head>
<body>
<h1>Error</h1>
<ul>
    <li>Timestamp: {{timestamp}}</li>
    <li>Status: {{status}}</li>
    <li>Error: {{error}}</li>
    <li>Path: {{path}}</li>
</ul>
</body>
</html>
